<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
    <context-param>
        <param-name>javax.faces.PROJECT_STAGE</param-name>
        <param-value>Development</param-value>
    </context-param>
    <servlet>
        <servlet-name>Faces Servlet</servlet-name>
        <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>Redaguoti</servlet-name>
        <servlet-class>jlab1.servlets.Redaguoti</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Faces Servlet</servlet-name>
        <url-pattern>/jlab1/*</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Remove</servlet-name>
        <servlet-class>jlab1.servlets.Remove</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Remove</servlet-name>
        <url-pattern>/Remove</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Filtruoti</servlet-name>
        <servlet-class>jlab1.servlets.Filtruoti</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Filtruoti</servlet-name>
        <url-pattern>/Filtruoti</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>jlab1/namai.jsp</welcome-file>
    </welcome-file-list>
</web-app>
